.modern {
  margin-bottom: 50px;
  background: #f7f6f2;
  overflow: hidden;
  height: 186px;
}
.modern .modernCon {
  margin-top: 26px;
}
.modern .modernShowImg {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.modern .modernShowImg img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.modern .modernShowImg:hover img {
  opacity: 1;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  transform: scale(1.15);
}
.teaPanel {
  margin: 20px 0;
}
.teaPanel .teaImg {
  display: inline-block;
}
.teaPanel .teaImg img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.teaPanel .teaImg:hover img {
  opacity: 1;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.mrRt {
  margin-right: 26px;
}
.brandsRow .brandsShow {
  height: 120px;
  line-height: 120px;
  text-align: center;
}
.brandsRow .borderLf {
  border-left: 1px dashed #dbdbdb;
}
.brandsRow .borderBot {
  border-bottom: 1px dashed #dbdbdb;
}
.brandsRow .brandsShow:hover img {
  animation: myfirst 1s;
  /* Firefox: */
  -moz-animation: myfirst 1s;
  /* Safari 和 Chrome: */
  -webkit-animation: myfirst 1s;
  /* Opera: */
  -o-animation: myfirst 1s;
}
.mode_title {
  margin: 60px 0 30px 0;
}
.coop {
  height: 164px;
  text-align: center;
  margin: 15px 0;
}
/*  */
.remark{
  position: absolute;
  height: 30px;
  line-height: 30px;
  width: 100%;
  bottom:15px;
  background: rgba(0, 0, 0, 0.5);
  color:#fff;
  text-align: center;
  
}
